{% if frappe.user != 'Guest' %}
<div class="side menu" id="sideMenu">
	<div align="center" class="profile">
		<br>
		<a href="/user/profile"><img src="{{frappe.get_gravatar(frappe.user)}}" alt="Avatar" class="ui circular image" width="150px" height="150px"></a>
		<div class="ui white user header">{{frappe.get_fullname()}}</div>
		<div class="ui divider"></div>
	</div>
	<div class="ui fluid vertical menu" id="verticalMenu">
		<a href="/app_dashboard" class="item"><i class="dashboard icon"></i> <span>{{_('Dashboard')}}</span></a>
		<a href="/app_store" class="item"><i class="ion-medkit titleIcon icon"></i> <span>{{_('Store')}}</span></a>
		<a href="/app_list" class="item"><i class="lab icon"></i> <span>{{_('Applications')}}</span></a>
		<a href="/app_issues" class="item"><i class="bug icon"></i> <span>{{_('Issues')}}</span></a>
		<a href="/app_device_list" class="item"><i class="server icon"></i> <span>{{_('Devices')}}</span></a>
		<a href="http://docs.symid.com" class="item"><i class="file icon"></i> <span>{{_('Document')}}</span></a>
		<a href="http://forum.symid.com" class="item"><i class="users icon"></i> <span>{{_('Forum')}}</span></a>
		<a href="http://help.symid.com" class="item"><i class="help icon"></i> <span>{{_('Help')}}</span></a>
	</div>
</div>
{% else %}
<div class="side menu" id="sideMenu">
	<div align="center" class="profile">
		<br>
		<a href=""><img src="/assets/app_center/img/logo.png" alt="logo" class="ui circular image" width="150px"></a>
		<div class="ui white header">IOT Cloud</div>
		<div class="ui divider"></div>
	</div>
	<div class="ui fluid vertical menu" id="verticalMenu">
		<a href="/app_dashboard" class="item"><i class="dashboard icon"></i> <span>{{_('Dashboard')}}</span></a>
		<a href="/app_store" class="item"><i class="ion-medkit titleIcon icon"></i> <span>{{_('Store')}}</span></a>
		<a href="http://docs.symid.com" class="item"><i class="file icon"></i> <span>{{_('Documents')}}</span></a>
		<a href="http://forum.symid.com" class="item"><i class="users icon"></i> <span>{{_('Forum')}}</span></a>
		<a href="http://help.symid.com" class="item"><i class="help icon"></i> <span>{{_('Help')}}</span></a>
	</div>
</div>
{% endif %}