<!--[if lt IE 9]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		{% block favicon %}
		<link rel="shortcut icon"
			href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
			type="image/x-icon">
		<link rel="icon"
			href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
			type="image/x-icon">
		{% endblock %}
		<link rel="image_src" type="image/jpeg" href="/assets/app_center/img/logo.png">
		<title>{% block title %} {{ title | striptags }} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		{%- block head -%}
			{% if meta_block is defined -%}
			{{ meta_block }}
			{%- endif %}

			{% if head_html is defined -%}
			{{ head_html or "" }}
			{%- endif %}

			<link rel="stylesheet" type="text/css" href="/assets/app_center/semantic/semantic.min.css">
			<link rel="stylesheet" type="text/css" href="/assets/app_center/ionicons/css/ionicons.min.css">
			<link rel="stylesheet" type="text/css" href="/assets/app_center/css/main.css">
			<link rel="stylesheet" type="text/css" href="/assets/app_center/library/animate.min.css">

			<link rel="stylesheet" type="text/css" href="/assets/app_center/library/github-buttons.css">
			<script type="text/javascript" src="/assets/app_center/library/jquery.min.js"></script>
			<script type="text/javascript" src="/assets/app_center/library/jquery.form.min.js"></script>
			<script type="text/javascript" src="/assets/app_center/library/jquery.nicescroll.min.js"></script>
			<script type="text/javascript" src="/assets/app_center/library/jquery.easing.min.js"></script>

			{%- block head_include %}{{ head_include or "" }}{% endblock -%}

			{%- block style %}{%- endblock -%}
		{% endblock %}
	</head>

	<body>
		{%- block navbar -%}
			{% include "templates/includes/navbar/app_navbar.html" %}
		{%- endblock -%}
		<div class="pusher">
			<div class="ui fluid container">
				<div class="ui two column grid">
					{%- block side_menu -%}
					{% include "templates/includes/menu/app_side_menu.html" %}
					{%- endblock -%}
					<div class="sixteen wide column" id="content">
						<div style="min-height:450px;padding-top:10px;">
							<div class="main container">
								{%- block content %}{%- endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/assets/app_center/semantic/semantic.min.js"></script>
		<script type="text/javascript" src="/assets/app_center/library/less.min.js"></script>

		<script type="text/javascript">
			window._version_number = "{{ build_version }}";
			if(!window.frappe) window.frappe = {};

			//frappe.user = "{{frappe.user}}";
		</script>

		<script type="text/javascript" src="/assets/app_center/js/main.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/menu.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/popup.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/validate-form.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/message.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/table.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/modal.js"></script>
		<script type="text/javascript" src="/assets/app_center/js/rating.js"></script>

		<script type="text/javascript" src="/assets/app_center/library/github-buttons.js"></script>

		{%- block script %}{%- endblock %}

		<!-- csrf_token -->

		{%- block body_include %}{{ body_include or "" }}{% endblock -%}
	</body>
</html>