
/* =============Profile Page============ */

.profileheader {
    background: url(/assets/app_center/img/profileheader.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 255px;
    float: right !important;
    text-align: right;
    padding: 2em !important;
}
.profileheader .image i {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 1.1em;
}
/* =============Profile Page============ */

#desc-editormd-view {
  z-index: 8;
}