<div class="ui fixed top menu">
	<a href="javascript:void(0)" class="icon active item" id="hideToggle"><h3><i class="chevron left icon"></i></h3></a>
	<a href="javascript:void(0)" class="icon active item" id="showToggle"><h3><i class="chevron right icon"></i></h3></a>
	<a href="/" data-toggle="slide" class="item"><h3>{{_("Application Center")}}</h3></a>
	<div class="menu right">
		<div class="ui inverted transparent icon input" tabindex="0" >
			<input placeholder="Search..." type="text">
			<i class="search icon"></i>
		</div>
		{% if frappe.user == 'Guest' %}
		<a href="/login" class="icon item" data-content="Login">
			<i class="large sign in icon"></i>
		</a>
		<a href="http://www.symid.com" class="icon item">
			<img src="/assets/app_center/img/logo.png" class="ui avatar image" alt="logo">
		</a>
		{% else %}
		<div class="ui icon dropdown item" data-content="Select Language">
			<i class="large world icon"></i>
			<div tabindex="-1" class="menu transition hidden">
				{% if frappe.local.lang=="zh" %}
				<a class="item active selected" language="zh"><i class="cn flag"></i> 中文(简体)</a>
				<a class="item" language="en-US"><i class="us flag"></i> English</a>
				{% else %}
				<a class="item active selected" language="en-US"><i class="us flag"></i> English</a>
				<a class="item" language="zh"><i class="cn flag"></i> 中文(简体)</a>
				{% endif %}
			</div>
		</div>
		{% set avatar_path = '/assets/app_center/img/avatar/' + frappe.user + '.jpg' %}
		<a class="icon item pointer" data-toggle="popup" data-content="#mail" data-position="bottom right">
			<i class="large mail icon"></i>
		</a>
		<div id="mail" class="ui fluid popup" style="min-width:400px;padding-top:30px;">
			<div class="ui divided items">
				<div class="item">
					<img src="{{avatar_path}}" class="ui avatar image">
					<div class="content">
						<a class="header">IOT</a>
						<div class="description">
							Welcome to <a>IOT Platform</a>...
						</div>
					</div>
				</div>
			</div>
			<div class="ui divider"></div>
			<a href="/sys/log" class="ui right floated tiny button">{{_('All Logs')}}</a>
		</div>
		<a class="icon item pointer" data-toggle="popup" data-content="#user" data-position="bottom right">
			<img src="{{avatar_path}}" class="ui avatar image" alt="">
		</a>
		<div id="user" class="ui popup">
			<div class="ui secondary vertical menu">
				<a href="/user/profile" class="item">{{_('Profile')}} <i class="user icon"></i></a>
				<a href="/sys/log" class="item">{{_('Logs')}} <i class="mail icon"></i><div class="ui inverted label">2</div></a>
				<a href="/sys/comm" class="item">{{_('Messages')}} <i class="bell icon"></i><div class="ui inverted label">25</div></a>
				<div class="ui divider"></div>
				<a href="/user/logout" class="item">{{_('Logout')}} <i class="sign out icon"></i></a>
			</div>
		</div>
		{% endif %}
	</div>
</div>