{% extends "templates/apc_base.html" %}

{% block title %}{{ _("Modify Application") }} {{doc.app_name}} {% endblock %}

{% block header %}  {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/app_center/editor_md/css/editormd.min.css">
<style>
{% include "templates/includes/app_detail.css" %}
</style>
{% endblock %}

{% block content %}
<div class="ui equal width left aligned padded grid stackable">
	<div class="sixteen wide tablet sixteen wide computer column profileheader row no-padding">
		<div class="column  left floated">
			<div class="ui items">
				<div class="item">
					<a class="ui small circular image">
                        <img src="/files/app_center_files/{{doc.name}}/icon.png" alt="icon">
						<i class="circle mini red icon avt" data-content="Offline" data-variation="inverted redli"></i>
					</a>
					<div class="middle aligned content hiddenui">
						<div class="header">
							<i class="like icon"></i>
							{{doc.app_name}}
						</div>
						<div class="meta">
							<i class="user icon"></i>{{doc.owner}}, <i class="bookmark icon"></i>{{_(doc.category)}} <br>
							<i class="fork icon"></i>{{_(doc.protocol)}}, <i class="puzzle icon"></i>{{_(doc.device_supplier)}}, {{_(doc.device_serial)}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column hiddenui">
			<div class="description right aligned">
				<button class="ui circular facebook icon button">
					<i class="facebook icon"></i>
				</button>
				<button class="ui circular twitter icon button">
					<i class="twitter icon"></i>
				</button>
				<button class="ui circular linkedin icon button">
					<i class="linkedin icon"></i>
				</button>
				<button class="ui circular google plus icon button">
					<i class="google plus icon"></i>
				</button>
				<button class="ui circular mail blue icon button">
					<i class="mail icon"></i>
				</button>
				<div class="ui divider"></div>
				{% if frappe.user == doc.owner %}
					<button class="ui inverted icon button edit"><i class="edit icon"></i> Edit</button>
					{% if has_release %}
						<button class="ui inverted icon button editor"><i class="terminal icon"></i> Online Editor</button>
					{% endif %}
				{% else %}
					<button class="ui inverted icon button follow"><i class="rss icon"></i> Follow</button>
					{% if has_release %}
						<button class="ui inverted icon button fork"><i class="fork icon"></i> Fork</button>
					{% endif %}
				{% endif %}

				{% if doc.fork_from %}
				<button class="ui inverted icon button fork_from"><i class="ion-pull-request icon"></i> {{_("Go Master")}}</button>
				{% endif %}

				{% if frappe.user == doc.owner %}
				<button class="ui inverted yellow icon button delete"><i class="trash icon"></i> {{_("Delete")}}</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="ui basic segment">
	<div class="ui pointing secondary tabular menu stackable">
		<a class="item active" data-tab="description"><i class="large book icon"></i>{{_("Description")}}</a>
		<a class="item" data-tab="comments"><i class="large comments icon"></i>{{_("Comments")}}</a>
		<a class="item" data-tab="issues"><i class="large warning circle icon"></i>{{_("Issues")}}</a>
		<a class="item" data-tab="releases"><i class="large tags icon"></i>{{_("Releases")}}</a>
	</div>
	<div class="ui tab basic segment active" data-tab="description">
		<div id="desc-editormd-view">
		   <textarea style="display:none;" name="test-editormd-markdown-doc">{{doc.description or ""}}</textarea>
		</div>
	</div>
	<div class="ui tab basic segment" data-tab="comments">
		<div class="ui comments" style="padding-bottom:8px">
			{% for comm in comments %}
			<div class="comment">
				<a class="avatar">
					<img src="img/avatar/people/Abraham.png" alt="image">
				</a>
				<div class="content">
					<a class="author">{{comm.author}}</a>
					<div class="metadata">
						<span class="date">{{comm.date}}</span>
					</div>
					<div class="text">
						{{comm.content}}
					</div>
					<div class="actions">
						<a class="reply">
							<i class="reply icon"></i>
						</a>
						<a class="star">
							<i class="star icon"></i>
						</a>
						<a class="retweet">
							<i class="retweet icon"></i>
						</a>
						<a class="heart">
							<i class="heart icon"></i>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<form class="ui reply form">
			<div class="field">
				<textarea></textarea>
			</div>
			<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Add Reply
			</div>
		</form>
	</div>
	<div class="ui basic tab segment" data-tab="issues">
		<h5 class="ui header">
			<div class="ui transparent icon input" tabindex="0">
				<input placeholder="Search..." type="text">
				<i class="search icon"></i>
			</div>
		</h5>
		<div class="ui relaxed divided list">
			<div class="item">
				<i class="large alarm middle aligned icon"></i>
				<div class="content">
					<a class="header">You Have No Notification</a>
					<div class="description">Updated 10 mins ago</div>
				</div>
			</div>
			<div class="item">
				<i class="large alarm red middle aligned icon"></i>
				<div class="content">
					<a class="header">You Have Two New Notification</a>
					<div class="description">Updated 22 mins ago</div>
				</div>
			</div>
			<div class="item">
				<i class="large alarm green middle aligned icon"></i>
				<div class="content">
					<a class="header">You Have Five New Notification</a>
					<div class="description">Updated 34 mins ago</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui basic tab segment" data-tab="releases">
		{% if frappe.user == doc.owner %}
		<button class="ui icon teal button upload"><i class="cloud upload icon"></i> {{_("Upload New Version")}}</button>
		{% endif %}
		<div class="ui large comments" style="padding-bottom:8px">
			{% for rel in releases %}
			<div class="comment">
				<div class="content">
					<a class="author">{{doc.app_name}} releases v{{rel.version}}</a>
					<div class="metadata">
						<span class="date">{{rel.creation}}</span>
						<div class="rating">
						  <i class="star icon"></i>
						  5 Faves
						</div>
					</div>
					<div class="text">
						{{rel.comment}}
					</div>
					<div class="actions">
						<a class="install">
							<i class="download icon"></i>
						</a>
						{% if frappe.user != doc.owner %}
						<a class="fork">
							<i class="fork icon"></i>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% if frappe.user != doc.owner %}
<div class="ui mini fork_app modal">
	<div class="header">
		{{_("Fork this application from")}}
	</div>
	<div class="content">
		<form class="ui fork_app form" action="/api/method/app_center.appmgr.fork" method="post" accept-charset="utf-8" accept="application/json">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="field">
				<select class="ui search dropdown" name="version">
					<option value="">{{_("Version")}}</option>
					{% for rel in releases %}
					<option value="{{rel.version}}">{{rel.version}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="ui primary submit button">{{_("Fork")}}</div>
			<div class="ui cancel button">{{_("Cancel")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>
{% else %}
<div class="ui upload_version modal">
	<div class="header">
		  {{_('Upload new version')}}
	</div>
	<div class="content">
		<form class="ui attached segment app form" action="/api/method/app_center.appmgr.upload"
			  method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<input value="{{doc.app_name}}" readonly="true" name="app_name" type="hidden">
			<div class="required inline field">
				<label>{{_("Version")}}</label>
				<input placeholder="Application Name" name="version" type="text" tabindex="0">
			</div>
			<div class="hidden field">
				<label>{{_("Comments")}} </label>
				<textarea name="comments"></textarea>
			</div>
			<div class="field">
				<label>{{_("Application Package")}} </label>
				<input type="file" name="app_file"/>
			</div>

			<div class="ui tiny teal progress">
				<div class="bar"></div>
			</div>

			<div class="ui primary submit button">{{_("Upload")}}</div>
			<div class="ui cancel button">{{_("Cancel")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>

<div class="ui mini delete_app warning modal">
	<div class="header">
		{{_("Warning!")}}
	</div>
	<div class="content">
		<form class="ui delete_app form" action="/api/method/app_center.appmgr.delete" method="post" accept-charset="utf-8" accept="application/json">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="field">
				<label>{{_("Are you sure to delete this application? This will fire request to administrators!")}}</label>
			</div>
			<div class="ui red submit button">{{_("Delete")}}</div>
			<div class="ui cancel button">{{_("Cancel")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/app_center/editor_md/lib/marked.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/prettify.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/raphael.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/underscore.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/sequence-diagram.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/flowchart.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/editormd.min.js"></script>
<script>
	{% include "templates/pages/app_detail.js" %}
	{% include "templates/pages/app_upload.js" %}
</script>
{% endblock %}


