{% extends "templates/apc_base.html" %}

{% block title %}{{ _("Application") }} {{doc.app_name}} {% endblock %}

{% block header %}  {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/app_center/editor_md/css/editormd.min.css">
<style>
{% include "templates/includes/app_detail.css" %}
</style>
{% endblock %}

{% block content %}
<div class="ui equal width left aligned padded grid stackable">
	<div class="sixteen wide tablet sixteen wide computer column profileheader row no-padding">
		<div class="column  left floated">
			<div class="ui items">
				<div class="item">
					<a class="ui small image">
                        <img src="{{doc.icon_image}}" alt="icon">
						<i class="circle mini red icon avt" data-content="Offline" data-variation="inverted redli"></i>
					</a>
					<div class="middle aligned content hiddenui">
						<div class="header">
							{{doc.app_name}}
							<i class="like icon"></i>
						</div>
						<div class="meta">
							<i class="user icon"></i>{{frappe.get_fullname(doc.owner) if frappe.user != doc.owner else _("Me")}}, <i class="bookmark icon"></i>{{_(doc.category)}} <br>
							<i class="fork icon"></i>{{_(doc.protocol)}}, <i class="puzzle icon"></i>{{_(doc.device_supplier)}}, {{_(doc.device_serial)}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column hiddenui">
			<div class="description right aligned">
				<button class="ui circular facebook icon button">
					<i class="facebook icon"></i>
				</button>
				<button class="ui circular twitter icon button">
					<i class="twitter icon"></i>
				</button>
				<button class="ui circular linkedin icon button">
					<i class="linkedin icon"></i>
				</button>
				<button class="ui circular google plus icon button">
					<i class="google plus icon"></i>
				</button>
				<button class="ui circular mail blue icon button">
					<i class="mail icon"></i>
				</button>
				<div class="ui divider"></div>
				{% if frappe.user == doc.owner or frappe.user == 'Administrator' %}
					<button class="ui inverted icon button edit"><i class="edit icon"></i> Edit</button>
					{% if has_release %}
						<button class="ui inverted icon button editor"><i class="terminal icon"></i> Online Editor</button>
					{% endif %}
				{% else %}
					<button class="ui inverted icon button follow"><i class="rss icon"></i> Follow</button>
					{% if has_release %}
						<button class="ui inverted icon button fork"><i class="fork icon"></i> Fork</button>
					{% endif %}
				{% endif %}

				{% if doc.fork_from %}
				<button class="ui inverted icon button fork_from"><i class="ion-pull-request icon"></i> {{_("Go Master")}}</button>
				{% endif %}

				{% if frappe.user == doc.owner %}
				<button class="ui inverted yellow icon button delete"><i class="trash icon"></i> {{_("Delete")}}</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="ui basic segment">
	<div class="ui pointing secondary tabular menu stackable">
		<a class="item{{' active' if tab=='description' else ''}}" data-tab="description"><i class="large book icon"></i>{{_("Description")}}</a>
		<a class="item{{' active' if tab=='reviews' else ''}}" data-tab="reviews"><i class="large talk icon"></i>{{_("Reviews")}}</a>
		<a class="item{{' active' if tab=='comments' else ''}}" data-tab="comments"><i class="large comments icon"></i>{{_("Comments")}}</a>
		<a class="item{{' active' if tab=='issues' else ''}}" data-tab="issues"><i class="large warning circle icon"></i>{{_("Issues")}}</a>
		<a class="item{{' active' if tab=='releases' else ''}}" data-tab="releases"><i class="large tags icon"></i>{{_("Releases")}}</a>
	</div>
	<div class="ui tab basic segment{{' active' if tab=='description' else ''}}" data-tab="description">
		<div id="desc-editormd-view">
		   <textarea style="display:none;" name="test-editormd-markdown-doc">{{doc.description or ""}}</textarea>
		</div>
	</div>
	<div class="ui tab basic segment{{' active' if tab=='reviews' else ''}}" data-tab="reviews">
		<div class="ui comments" style="padding-bottom:8px">
			{% for rev in reviews %}
			<div class="comment">
				<a class="avatar">
					<img src="{{frappe.get_gravatar(rev.owner)}}" alt="image">
				</a>
				<div class="content">
					<a class="author" href="/app_review?name={{rev.name}}">{{rev.title|title|truncate(40)}}</a>
					<div class="metadata">
						<span class="ui mini star rating" data-rating="{{rev.star}}" data-max-rating="5"></span>
						<span class="date">{{ frappe.utils.pretty_date(rev.modified) }}</span>
						<i class="ui user icon"></i>{{frappe.get_fullname(rev.owner) if frappe.user != rev.owner else _("Me")}}
					</div>
					<div class="text">
						{{rev.content|truncate(80)}} <br>
						<a href="/app_review?name={{rev.name}}">More...</a>
					</div>
					<div class="actions">
						<a class="reply" href="/app_review?name={{rev.name}}"><i class="talk icon"></i>Comments</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% if frappe.user != 'Guest' %}
		<div class="ui divider"></div>
		<form class="ui review form" action="/api/method/app_center.appmgr.add_review"
			  method="post" accept-charset="utf-8" enctype="application/json">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="field">
				<input placeholder="{{_('Title')}}" name="title" type="text" tabindex="0">
			</div>
			<div class="field">
				<textarea name="content" placeholder="{{_('Review content')}}"></textarea>
			</div>
			<div class="inline field">
				<label>{{_("Star")}}</label>
				<div class="ui star rating" data-rating="4" data-max-rating="5" data-for="star"></div>
				<input type="hidden" name="star" id="star" value="4" style="display: none">
			</div>
			<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Add Review
			</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
		{% endif %}
	</div>
	<div class="ui tab basic segment{{' active' if tab=='comments' else ''}}" data-tab="comments">
		<div class="ui comments" style="padding-bottom:8px">
			{% for comm in comments %}
			<div class="comment">
				<a class="avatar">
					<img src="{{frappe.get_gravatar(comm.owner)}}" alt="image">
				</a>
				<div class="content">
					<a class="author">{{frappe.get_fullname(comm.owner) if frappe.user != comm.owner else _("Me")}}</a>
					<div class="metadata">
						<span class="date">{{ frappe.utils.pretty_date(comm.modified) }}</span>
					</div>
					<div class="text">
						{{comm.comment}}
					</div>
					<div class="actions">
						<a class="reply" data-name="{{comm.name}}" data-user="{{comm.owner}}">
							<i class="reply icon"></i>
						</a>
						<!--
						<a class="star">
							<i class="star icon"></i>
						</a>
						<a class="retweet">
							<i class="retweet icon"></i>
						</a>
						-->
						{% if frappe.user == comm.owner %}
						<a class="delete" data-name="{{comm.name}}">
							<i class="trash icon"></i>
						</a>
						{% else %}
						<a class="heart">
							<i class="heart icon"></i>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% if frappe.user != 'Guest' %}
		<div class="ui divider"></div>
		<form class="ui comment form" action="/api/method/app_center.appmgr.add_comment"
			  method="post" accept-charset="utf-8" enctype="application/json">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="field">
				<input value="" placeholder="{{_('Reply to')}}" readonly="true" name="reply_to" type="hidden">
			</div>
			<div class="inline field">
				<labe>{{_("Reply to")}}:</labe>
				<input value="" placeholder="{{_('Reply to')}}" readonly="true" name="reply_to_user" type="text">
			</div>
			<div class="field">
				<textarea name="comment" placeholder="{{_('Your comment')}}"></textarea>
			</div>
			<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Add Comment
			</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
		{% endif %}
	</div>
	<div class="ui basic tab segment{{' active' if tab=='issues' else ''}}" data-tab="issues">
		<h5 class="ui header">
			<div class="ui transparent icon input" tabindex="0">
				<input placeholder="Search..." type="text">
				<i class="search icon"></i>
			</div>
		</h5>
		<div class="ui relaxed divided list">
			{% for iss in issues %}
			<div class="item">
				<i class="large alarm {{ 'red' if iss.priority =='High' else 'yellow' if iss.priority=='Middle' else 'olive'}} middle aligned icon"></i>
				<div class="content">
					<a class="header" href="/app_issue?name={{iss.name}}">{{iss.title|title}}</a>
					<div class="description">{{frappe.get_fullname(iss.owner) if frappe.user != iss.owner else _("Me")}} - {{ frappe.utils.pretty_date(iss.modified) }}</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% if frappe.user != 'Guest' %}
		<div class="ui divider"></div>
		<form class="ui issue form" action="/api/method/app_center.appmgr.add_issue"
			  method="post" accept-charset="utf-8" enctype="application/json">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="inline field">
				<select class="ui dropdown" name="priority">
					<option value="">{{_("Priority")}}</option>
					<option value="High">{{_("High")}}</option>
					<option value="Middle">{{_("Middle")}}</option>
					<option value="Low">{{_("Low")}}</option>
				</select>
			</div>
			<div class="field">
				<input placeholder="{{_('Title')}}" name="title" type="text" tabindex="0">
			</div>
			<div class="field">
				<textarea name="content" placeholder="{{_('Issue content')}}"></textarea>
			</div>
			<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Add Issue
			</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
		{% endif %}
	</div>
	<div class="ui basic tab segment{{' active' if tab=='releases' else ''}}" data-tab="releases">
		{% if frappe.user == doc.owner %}
		<button class="ui icon teal button upload"><i class="cloud upload icon"></i> {{_("Upload New Version")}}</button>
		{% endif %}
		<div class="ui large comments" style="padding-bottom:8px">
			{% for rel in releases %}
			<div class="comment">
				<div class="content">
					<a class="author">{{doc.app_name}} releases v{{rel.version}}</a>
					<div class="metadata">
						<span class="date">{{rel.creation}}</span>
						<div class="rating">
						  <i class="star icon"></i>
						  5 Faves
						</div>
					</div>
					<div class="text">
						{{rel.comment}}
					</div>
					<div class="actions">
						<a class="install" data-version="{{rel.version}}" data-app="{{doc.name}}">
							<i class="download icon"></i>
						</a>
						{% if frappe.user != doc.owner %}
						<a class="fork" data-version="{{rel.version}}">
							<i class="fork icon"></i>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% if frappe.user != doc.owner %}
<div class="ui mini fork_app modal">
	<div class="header">
		{{_("Fork this application from")}}
	</div>
	<div class="content">
		<form class="ui fork_app form" action="/api/method/app_center.appmgr.fork" method="post" accept-charset="utf-8">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="field">
				<select class="ui search dropdown" name="version">
					<option value="">{{_("Version")}}</option>
					{% for rel in releases %}
					<option value="{{rel.version}}">{{rel.version}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="ui primary submit button">{{_("Fork")}}</div>
			<div class="ui cancel button">{{_("Cancel")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>
{% else %}
<div class="ui upload_version modal">
	<div class="header">
		  {{_('Upload new version')}}
	</div>
	<div class="content">
		<form class="ui upload_app form" action="/api/method/app_center.appmgr.upload"
			  method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<input value="{{doc.app_name}}" readonly="true" name="app_name" type="hidden">
			<div class="required inline field">
				<label>{{_("Version")}}</label>
				<input placeholder="Application Name" name="version" type="text" tabindex="0">
			</div>
			<div class="hidden field">
				<label>{{_("Comments")}} </label>
				<textarea name="comments"></textarea>
			</div>
			<div class="field">
				<label>{{_("Application Package")}} </label>
				<input type="file" name="app_file"/>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
					<input name="terms" tabindex="0" class="hidden" type="checkbox">
					<label>
						{{_("I agree to the terms and conditions")}}
						<a href="/app_license"><i class="ui privacy icon"></i></a>
					</label>
				</div>
			</div>

			<div class="ui tiny teal progress">
				<div class="bar"></div>
			</div>

			<div class="ui primary submit button">{{_("Upload")}}</div>
			<div class="ui cancel button">{{_("Cancel")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>

<div class="ui mini delete_app warning modal">
	<div class="header">
		{{_("Warning!")}}
	</div>
	<div class="content">
		<form class="ui delete_app form" action="/api/method/app_center.appmgr.delete" method="post" accept-charset="utf-8">
			<input value="{{doc.name}}" readonly="true" name="app" type="hidden">
			<div class="field">
				<label>{{_("Are you sure to delete this application? This will fire request to administrators!")}}</label>
			</div>
			<div class="ui red submit button">{{_("Delete")}}</div>
			<div class="ui cancel button">{{_("Cancel")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>

<div class="ui small warning delete_comment modal">
	<div class="header">
		Delete Your Comment
	</div>
	<div class="content">
		<i class="huge yellow warning sign icon"></i>
		Are you sure you want to delete your comment
	</div>
	<div class="actions">
		<div class="ui cancel button">
			No
		</div>
		<div class="ui ok yellow labeled icon button">
			Yes
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/app_center/editor_md/lib/marked.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/prettify.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/raphael.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/underscore.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/sequence-diagram.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/flowchart.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="/assets/app_center/editor_md/editormd.min.js"></script>
<script>
	{% include "templates/pages/app_detail.js" %}
	{% include "templates/pages/app_upload.js" %}
</script>
{% endblock %}


