{% extends "templates/apc_base.html" %}

{% block title %}{{ _("Issue for") }} {{doc.app_name}} {% endblock %}

{% block header %}  {% endblock %}

{% block style %}
<style>
{% include "templates/includes/app_detail.css" %}
</style>
{% endblock %}

{% block content %}
<div class="ui equal width left aligned padded grid stackable">
	<div class="sixteen wide tablet sixteen wide computer column profileheader row no-padding">
		<div class="column  left floated">
			<div class="ui items">
				<div class="item">
					<a class="ui small circular image">
                        <img src="/files/app_center_files/{{doc.name}}/icon.png" alt="icon">
						<i class="circle mini red icon avt" data-content="Offline" data-variation="inverted redli"></i>
					</a>
					<div class="middle aligned content hiddenui">
						<div class="header">
							<i class="like icon"></i>
							{{doc.app_name}}
						</div>
						<div class="meta">
							<i class="user icon"></i>{{doc.owner if frappe.user != doc.owner else _("Me")}}, <i class="bookmark icon"></i>{{_(doc.category)}} <br>
							<i class="fork icon"></i>{{_(doc.protocol)}}, <i class="puzzle icon"></i>{{_(doc.device_supplier)}}, {{_(doc.device_serial)}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column hiddenui">
			<div class="description right aligned">
				<button class="ui circular facebook icon button">
					<i class="facebook icon"></i>
				</button>
				<button class="ui circular twitter icon button">
					<i class="twitter icon"></i>
				</button>
				<button class="ui circular linkedin icon button">
					<i class="linkedin icon"></i>
				</button>
				<button class="ui circular google plus icon button">
					<i class="google plus icon"></i>
				</button>
				<button class="ui circular mail blue icon button">
					<i class="mail icon"></i>
				</button>
				<div class="ui divider"></div>
				{% if frappe.user == doc.owner %}
					<button class="ui inverted icon button edit"><i class="edit icon"></i> Edit</button>
					{% if has_release %}
						<button class="ui inverted icon button editor"><i class="terminal icon"></i> Online Editor</button>
					{% endif %}
				{% else %}
					<button class="ui inverted icon button follow"><i class="rss icon"></i> Follow</button>
					{% if has_release %}
						<button class="ui inverted icon button fork"><i class="fork icon"></i> Fork</button>
					{% endif %}
				{% endif %}

				{% if doc.fork_from %}
				<button class="ui inverted icon button fork_from"><i class="ion-pull-request icon"></i> {{_("Go Master")}}</button>
				{% endif %}

				{% if frappe.user == doc.owner %}
				<button class="ui inverted yellow icon button delete"><i class="trash icon"></i> {{_("Delete")}}</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="ui basic segment">
	<div class="ui pointing secondary tabular menu stackable">
		<a class="item" href="/app_detail?app={{doc.name}}"><i class="large book icon"></i>{{_("Description")}}</a>
		<a class="item" href="/app_detail?app={{doc.name}}&tab=reviews"><i class="large talk icon"></i>{{_("Reviews")}}</a>
		<a class="item" href="/app_detail?app={{doc.name}}&tab=comments"><i class="large comments icon"></i>{{_("Comments")}}</a>
		<a class="item active" href="/app_detail?app={{doc.name}}&tab=issues"><i class="large warning circle icon"></i>{{_("Issues")}}</a>
		<a class="item" href="/app_detail?app={{doc.name}}&tab=releases"><i class="large tags icon"></i>{{_("Releases")}}</a>
	</div>
	<div class="ui tab basic segment active" data-tab="issue">
		<div class="ui large feed">
			<div class="event">
				<div class="large label">
      				<img src="/assets/app_center/img/avatar/{{issue.owner}}.jpg">
				</div>
				<div class="content">
					<div class="summary">
						{{issue.title}} - <a>{{issue.owner if frappe.user != issue.owner else _("Me")}}</a>
						<div class="date">
						<i class="ui {{'orange' if issue.status =='Open' else 'green' if issue.status=='Fixed' else 'red'}} label">{{issue.status}}</i>
						<i class="ui {{ 'red' if issue.priority =='High' else 'yellow' if issue.priority=='Middle' else 'olive'}} label">{{issue.priority}}</i>
						</div>
					</div>
					<div class="extra text">
						{{issue.content}}
					</div>
					<div class="meta">
					{% if doc.owner == frappe.user and issue.status == 'Open' %}
						<a class="fix">
							<i class="check square icon"></i> Fixed
						</a>
						<a class="invalid">
							<i class="alarm mute icon"></i> Fixed
						</a>
					{% endif %}
						<i class="date">
							{{_("Modified")}} {{ frappe.utils.pretty_date(issue.modified) }}
						</i>
					</div>
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="ui comments" style="padding-bottom:8px">
			{% for comm in issue.comments %}
			<div class="comment">
				<a class="avatar">
					<img src="/assets/app_center/img/avatar/{{comm.owner}}.jpg" alt="image">
				</a>
				<div class="content">
					<a class="author">{{comm.owner if frappe.user != comm.owner else _("Me")}}</a>
					<div class="metadata">
						<span class="date">{{ frappe.utils.pretty_date(comm.modified) }}</span>
					</div>
					<div class="text">
						{{comm.comment}}
					</div>
					<div class="actions">
						<a class="reply" data-name="{{comm.name}}">
							<i class="reply icon"></i>
						</a>
						<a class="star">
							<i class="star icon"></i>
						</a>
						<a class="retweet">
							<i class="retweet icon"></i>
						</a>
						<a class="heart">
							<i class="heart icon"></i>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% if frappe.user != 'Guest' %}
		<div class="ui divider"></div>
		<form class="ui comment form" action="/api/method/app_center.appmgr.add_issue_comment"
			  method="post" accept-charset="utf-8" enctype="application/json">
			<input value="{{issue.name}}" readonly="true" name="issue" type="hidden">
			<div class="field">
				<textarea name="comment" placeholder="{{_('Your comment')}}"></textarea>
			</div>
			<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Add Comment
			</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
		{% endif %}
	</div>
</div>


<div class="ui issue_action modal">
	<i class="close icon"></i>
	<div class="header"></div>
	<div class="content">
		<form class="ui issue_action comment form" action="/api/method/app_center.appmgr.fix_issue"
			  method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<input value="{{issue.name}}" readonly="true" name="issue" type="hidden">
			<input value="" readonly="true" name="action" type="hidden">
			<div class="field">
				<label>{{_("Comment")}} </label>
				<textarea name="comment"></textarea>
			</div>
			<div class="ui primary submit button">{{_("Submit")}}</div>
			<div class="ui success message"></div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>
{% endblock %}

{% block script %}

<script>
	{% include "templates/pages/app_detail.js" %}
</script>

{% if frappe.user == issue.owner %}
<script>
	$(document).ready(function() {
	});
</script>
{% endif %}

{% endblock %}


