{% extends "templates/apc_base.html" %}


{% block content %}
<div class="row">
    <div class="column">
        <h3 class="ui top attached header">
		  Top Attached
		</h3>
		<div class="ui attached segment">
            <div class="ui items">
				<div class="ui floating labeled icon dropdown button" tabindex="0">
				  <i class="filter icon"></i>
				  <span class="text">Filter Apps</span>
				  <div class="menu">
					<div class="header">
					  Search Issues
					</div>
					<div class="ui left icon input">
					  <i class="search icon"></i>
					  <input name="search" placeholder="Search..." type="text">
					</div>
					<div class="header">
					  <i class="tags icon"></i>
					  Filter by tag
					</div>
					<div class="item">
					  <div class="ui red empty circular label"></div>
					  Important
					</div>
					<div class="item">
					  <div class="ui blue empty circular label"></div>
					  Announcement
					</div>
					<div class="item">
					  <div class="ui black empty circular label"></div>
					  Discussion
					</div>
				  </div>
				</div>
                <button class="ui icon button">
                    <i class="refresh icon"></i>
                </button>
                <div class="ui right floated buttons">
                    <button class="ui button"><i class="chevron left icon"></i></button>
                    <button class="ui button"><i class="chevron right icon"></i></button>
                </div>

                <div class="ui divider"></div>
                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/carol.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Shannon Garcia</a>
                        <div class="description">
                            <p>Nice Work on the latest version - <a class="ui red mini label">Important</a><button class="ui right floated button"><i class="attach icon"></i> 5 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/deana.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Katrina	Hoffman</a>
                        <div class="description">
                            <p>Semantic-ui very nice - <a class="ui teal mini label">Interesting</a> <button class="ui right floated button"> 2 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/Abraham.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Colin	Washington</a>
                        <div class="description">
                            <p>I finished my project you can see this link - <a class="ui blue mini label">Announcment</a> <button class="ui right floated button"><i class="attach icon"></i> 1 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/Hershell.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Irving	Richardson</a>
                        <div class="description">
                            <p>Ooops This File is Infected be careful - <a class="ui yellow mini label">Off Topic</a> <button class="ui right floated button"><i class="attach icon"></i> 1 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/Glenn.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Jerome	Reed</a>
                        <div class="description">
                            <p>Aliquam lorem ante dapibus in - <a class="ui yellow mini label">Off Topic</a> <button class="ui right floated button"> 1 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/Hershell.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Geneva	Allison</a>
                        <div class="description">
                            <p>Ooops This File is Infected be careful - <a class="ui yellow mini label">Off Topic</a> <button class="ui right floated button"> 1 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/Meggie.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Wilma	Bell</a>
                        <div class="description">
                            <p>In ac felis quis tortor - <a class="ui yellow mini label">Off Topic</a> <button class="ui right floated button"><i class="attach icon"></i> 1 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <a class="ui tiny circular image">
                        <img src="img/avatar/people/Tara.png" alt="label-image">
                    </a>
                    <div class="content">
                        <a class="header">Ruth	Collins</a>
                        <div class="description">
                            <p>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. - <a class="ui yellow mini label">Off Topic</a> <button class="ui right floated button"> 1 Nov.</button></p>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}