{% extends "templates/apc_base.html" %}

{% block title %}{{ _("IOT Application Store") }} {% endblock %}

{% block header %}  {% endblock %}

{% block style %}

  <style type="text/css" media="screen">


    #editor {
        position: relative;
        width: 400px;
        height: 600px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="ui segment">
<div id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</div>
</div>
{% endblock %}

{% block script %}
<script src="/assets/app_center/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
</script>
{% endblock %}