{% extends "templates/apc_base.html" %}

{% block title %}{{ _("Upload release file for ") }} {{doc.app_name}}{% endblock %}

{% block header %}  {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<form class="ui app form" action="/api/method/app_center.appmgr.app_upload"
	  method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<div class="inline field">
		<label>{{_("Application")}}</label>
		<input value="{{doc.name}}" readonly="true" name="app" type="text">
	</div>
	<div class="inline field">
		<label>{{_("Application Name")}}</label>
		<input value="{{doc.app_name}}" readonly="true" name="app_name" type="text">
	</div>
	<div class="required inline field">
		<label>{{_("Version")}}</label>
		<input placeholder="Application Name" name="version" type="text" tabindex="0">
    </div>
	<div class="hidden field">
		<label>{{_("Comment")}} </label>
		<textarea name="comment"></textarea>
	</div>
	<div class="field">
		<label>{{_("Application Package")}} </label>
		<input type="file" name="app_file"/>
	</div>

	<div class="ui tiny progress">
		<div class="bar"></div>
	</div>

	<div class="ui primary submit button">{{_("Upload")}}</div>
	<div class="ui success message"></div>
	<div class="ui error message"></div>
</form>

{% endblock %}

{% block script %}
<script>
	{% include "templates/pages/app_upload.js" %}
</script>
{% endblock %}


