{% extends "templates/apc_base.html" %}

{% block title %}{{ _("Modify Application") }} {{doc.app_name}} {% endblock %}

{% block header %}  {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/app_center/editor_md/css/editormd.min.css">
{% endblock %}

{% block content %}
<form class="ui segment form" action="/api/method/app_center.appmgr.app_modify" method="post" accept-charset="utf-8">
	<input value="{{doc.name}}" name="app" type="hidden">
	<input value="{{doc.license_type}}" name="license_type" type="hidden">
	<div class="required inline field">
		<label>{{_("Application")}}</label>
		<input value="{{doc.app_name}}" name="app_name" type="text" tabindex="0">
	</div>

	<div class="two fields">
		<div class="three wide required inline field">
			<label>{{_("Category")}}</label>
			<select class="ui search dropdown" name="category">
      			<option value="">{{_("Select Category")}}</option>
				{% for opt in categories %}
				{% if opt == doc.category %}
				<option value="{{opt}}" selected="">{{opt}}</option>
				{% else %}
				<option value="{{opt}}">{{opt}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="three wide required inline field">
			<label>{{_("Protocol")}}</label>
			<select class="ui search dropdown" name="protocol">
      			<option value="">{{_("Select Protocol")}}</option>
				{% for opt in protocols %}
				{% if opt == doc.protocol %}
				<option value="{{opt}}" selected="">{{opt}}</option>
				{% else %}
				<option value="{{opt}}">{{opt}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="two fields">
		<div class="three wide required inline field">
			<label>{{_("Device Supplier")}}</label>
			<select class="ui search dropdown" name="device_supplier">
      			<option value="">{{_("Select Device Supplier")}}</option>
				{% for opt in suppliers %}
				{% if opt == doc.device_supplier %}
				<option value="{{opt}}" selected="">{{opt}}</option>
				{% else %}
				<option value="{{opt}}">{{opt}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="three wide required inline field">
			<label>{{_("Device Serial")}}</label>
			<input placeholder="{{_('Device Serial')}}" name="device_serial" type="text" value="{{doc.device_serial or ''}}">
		</div>
	</div>

	<div class="field">
		<label>{{_("Description")}} </label>
		<div id="desc-editormd" style="z-index:9999;">
			<textarea name="description">{{doc.description or ""}}</textarea>
		</div>
	</div>

	<button class="ui teal button" type="submit">{{_("Modify")}}</button>
	<div class="ui success message"></div>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/app_center/editor_md/editormd.min.js"></script>
<script>
	{% include "templates/pages/app_upload.js" %}
	{% include "templates/includes/desc_editor.js" %}
</script>
{% endblock %}


