{% extends "templates/apc_base.html" %}

{% block title %}{{ _("Upload release file for ") }} {{doc.app_name}}{% endblock %}

{% block header %}  {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/app_center/jstree/themes/default/style.min.css">
<style>
{% include "templates/includes/app_editor.css" %}
</style>
{% endblock %}

{% block content %}
<div id="editor_container" role="main">
	<div id="jstree_tree"></div>
	<div id="editor_data">
			<div class="content code" style="display:none;">
				<div id="editor_code">function foo(items) {
					var i;
					for (i = 0; i &lt; items.length; i++) {
						alert("Ace Rocks " + items[i]);
					}
				}</div>
			</div>
			<div class="content folder" style="display:none;"></div>
			<div class="content image" style="display:none; position:relative;">
				<img src="" alt="" style="display:block; position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;" />
			</div>
			<div class="content default" style="text-align:center;">Select a file from the tree.</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/app_center/jstree/jstree.min.js"></script>
<script type="text/javascript" src="/assets/app_center/ace/ace.js" charset="utf-8"></script>
<script>
	{% include "templates/pages/app_editor.js" %}
</script>
{% endblock %}


